@model List<ProyectoSGCE.Models.GenderSpecie>

@{
    Layout = "_LayoutStudent";
    //List<Order> orders = ViewBag.Orders;
}

<div class="container my-4 content">

    <form name="form-genderSpecie" id="form-genderSpecie" class="row g-2 form-input" asp-controller="GenderSpecie" asp-action="SearchGenderSpecieView"
          method="post" class="form-inline">
        <div class="col-12 d-flex">
            <div class="col-xl-3 col-md-4 col-sm-6 mx-1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="genderSpecie" name="genderSpecie" placeholder="Género o especie" required>
                    <label for="floatingInput" style="color:black">Ingrese género o especie</label>
                </div>
            </div>
            <div class="col-xl-1 col-md-4 col-sm-3 mb-3 mx-2">
                <input type="submit" class="btn btn-secondary" name="search" value="Buscar">
            </div>

        </div>
    </form>


    <hr class="border-success  border-3">
    <div class="col-12 table-responsive">
        <table class="table table-sm table-striped">
            <tr class="bg-info">
                <th>Orden</th>
                <th>Familia</th>
                <th>Subfamilia</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>

            @foreach (GenderSpecie genderSpecie in ViewBag.Genders)
            {
                <tr class="table-success">
                    <td>@genderSpecie.Orden</td>
                    <td>@genderSpecie.Familia</td>
                    <td>@genderSpecie.Subfamilia</td>
                    <td>@genderSpecie.Tipo</td>
                    <td>@genderSpecie.Nombre</td>
                    <td>
                        @if (genderSpecie.Tipo=="Genero")
                        {
                            <form asp-action="SearchSpecieView" asp-controller="Specie">
                                <input type="text"  name="specie" id="specie" value="@genderSpecie.Nombre" hidden />
                                <input type="submit" class="btn btn-dark" value="Ver especies">
                           </form>
                            
                        }
                        else if (genderSpecie.Tipo=="Especie")
                        {
                            <form asp-action="SearchSpecimenView" asp-controller="Specimen">
                                <input type="text"  name="specimen" id="specimen" value="@genderSpecie.id" hidden/>
                                <input type="submit" class="btn btn-dark" value="Ver especímenes">
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
